h1{
  background-color : blue;
  color : white ;
  text-align : center ; 
  font-family : Bodoni MT Black ;
  font-style : italic ;
}
body{
  background-color : yellow ; 
  font-style :italic ;
  text-align : center ;
}
.line{
    height: 6px;
    background-color :black ;
    width: 70px;
        margin : 20px;  
}
div{
  height : 30px;
    background-color : yellow ;
}
.menu{
  list-style : none ;
  font-family : cursive ;
  float : right ;
  top : 10px ;
  right : 30px ;
    cursor : pointer ;
      color : black
}
#d{
  font-weight : bold ;
  font-style : italic ; 
}
h2{
  background-color : green ;
  color : cyan ;
}
body {
  font-weight : bold
}